<div class="container-fluid position-absolute bottom-0 end-0 footerclas m-0">
    <div class="d-flex flex-wrap justify-content-between ">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-black">© 2022 LibraryIspc</span>
          </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-black" href="#">Sobre Nosotros</a></li>
        <li class="ms-3"><a class="text-black" href="#">Contacto</a></li>
        <li class="ms-3"><a class="text-black" href="#">Politicas de internet</a></li>
      </ul>
    </div>
  </div>