<div class="container-fluid bghome">
    <div class="row">
        <div class="col-2">
            <ul class="listmenu">
                <li><a href="http://localhost:4200/home">Principal</a></li>
                <li><a href="">Reservas</a></li>
                <li><a href="">Mis reservas</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Soporte</a></li>
            </ul>
        </div>
        <div class="col-6"><img class=" p-0" src="/assets/img/imghome.png" alt="libroshome" height="980px" width="1000px"></div>
        <div class="col-4">

        </div>
    </div>
</div>