<div class="container-fluid bghome">
    <div class="row">
        <div class="col-2">
            <ul class="listmenu">
                <li><a href="http://localhost:4200/home">Principal</a></li>
                <li><a href="http://localhost:4200/librosDisponibles">Libros Disponibles</a></li>
                <li><a href="">Mis reservas</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Soporte</a></li>
            </ul>
        </div>
        <div class="col-6"><img class=" p-0" src="/assets/img/imghome.png" alt="libroshome" height="980px" width="1000px"></div>
        <div class="col-4">
            <div class="titulohome">
                <h1>BIENVENIDOS</h1>
                <h1 class="txtbiblioteca">Biblioteca</h1>
                <h1 class="txtonline">ONLINE</h1>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <label for="" class="slide">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi, laborum, voluptas corrupti dolore praesentium fugit, dolorem ab cumque alias ex unde! Nostrum sit quia vitae nemo fugit et aliquam.</label>
                  </div>
                  <div class="carousel-item ">
                    <label for="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi, laborum, voluptas corrupti dolore praesentium fugit, dolorem ab cumque alias ex unde! Nostrum sit quia vitae nemo fugit et aliquam.</label>
                  </div>
                  <div class="carousel-item">
                    <label for="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi, laborum, voluptas corrupti dolore praesentium fugit, dolorem ab cumque alias ex unde! Nostrum sit quia vitae nemo fugit et aliquam.</label>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">          
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <button class="btn btn-warning botonhome">Ver mas</button>
        </div>
    </div>
</div>